<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>SafetyNet</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map

function addWindow(path, mapName, mark)  {
  var windowContent = "<div style='float:left'><img src=http://i.stack.imgur.com/g672i.png></div><div style='float:right; padding: 10px;'><b>Drone Capture</b><br/></div>";

  var infoWindow = new google.maps.InfoWindow({
    content: windowContent
  });
  console.log('here');

  mark.addListener('click', function() {
    console.log('got here');
    infoWindow.open(mapName, mark);
  });
}

function addMarker(latitude, longitude, mapName, path) {
  var newPos = {lat: latitude, lng: longitude};

  var newMarker = new google.maps.Marker({position: newPos, map: mapName});

  addWindow(path, mapName, newMarker);
}

function initMap() {
  // The location of Uluru
  var africa = {lat: 5, lng: 5};
  var testpos = {lat: 6, lng: 6};
  var path = "test";
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: africa});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: africa, map: map});
  //var marker2 = new google.maps.Marker({position: testpos, map: map});
  addMarker(6,6, map, path);
}

    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1XfV8qh9ejuaEroyC006HKTWNue5us5w&callback=initMap">
    </script>
  </body>
</html>