<!DOCTYPE html>
<html>
<head>

    <input type="hidden" name="lat" id="lat" value="{{latitude}}">
    <input type="hidden" name="lon" id="lon" value="{{longitude}}">

    <title>SafetyNet</title>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>

    <div id="map"></div>
    <script>
      var map;
      var longitude = document.getElementById('lon');
      var latitude = document.getElementById('lat');

      console.log(latitude)
      console.log(longitude)
      console.log("what the?")

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: 35.7596, lng: -79.0193 },
          zoom: 5
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj1x4wrHIo0deGIux8exz7IUHKxMTsx2M&callback=initMap"
            async defer></script>

    <script>

    function addMarkerToMap(lat, long, htmlMarkupForInfoWindow) {
      var infowindow = new google.maps.InfoWindow();
      var myLatLng = new google.maps.LatLng(lat, long);
      var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          animation: google.maps.Animation.DROP,
      }); //Gives each marker an Id for the on click
      markerCount++; //Creates the event listener for clicking the marker //and places the marker on the map
      google.maps.event.addListener(marker, 'click', (function(marker, markerCount) {
          return function() {
              infowindow.setContent(htmlMarkupForInfoWindow);
              infowindow.open(map, marker);
          }
      })(marker, markerCount)); //Pans map to the new location of the marker
      map.panTo(myLatLng)
    }
/*
        // JACK GET THIS PART TO RUN PLS LMAO
      function add_marker() {
        // The marker, positioned at Uluru
        map = google.maps.Map(document.getElementById('map')

        var marker = new google.maps.Marker({ position: , map: map });

      }
      */
    </script>

    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj1x4wrHIo0deGIux8exz7IUHKxMTsx2M&callback=initMap">
    </script>
</body>


</html>
